.logoupd {
    display: flex;
    background-image: url("fundal1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.logoupd img {
    width: 150px;
    height: 100px;
}

.logoupd ul li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 50px;
}

.logoupd li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-shadow: 5cm;
    font-size: 15px;
}

.logoupd button {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.bordura {
    border: solid red;
    margin-top: 100px;
    width: 2000px;
    height: 70px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-image: url("fundal3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text p {
    font-size: 30px;
}

.iconite {
    display: flex;
}

.icoana2 a {
    color: red;
    margin-left: 50px;
}

.icoana3 a {
    color: aqua;
    margin-left: 50px;
}

.miscalogo button:hover {
    cursor: pointer;
    margin-left: 10px;
    transition: 0.1s;
}

.logoupd button:hover {
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}